* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
}

:root {
    --base: #ffc600;
    --spacing: 0px;
    --blur: 0px;
}

body {
    width: 100vw;
    /* height: 100vh; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;

}

.controls {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* margin: 1rem; */
}

.control {
    padding: 2rem;
}

#image_container {
    width: 60vw;
    height: 80vh;
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: var(--spacing);
    background: var(--base);
    display:flex;
    justify-content: center;
    align-items: center;

}

#img {
    max-width: 100%;
    max-height: 100%;
    display: inline-block;
    margin: auto;
    object-fit: contain;
    filter: blur(var(--blur));

}

.btn {
    padding: .2em 2em;
    width: 5rem;
    background-color: var(--base);
    color: white;
    font-size: 30px;
    font-weight: 800;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 200ms ease-in-out;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
}

.btn:hover {
    transform: scale(1.2);
    background-color: rgb(17, 115, 242);
}